[submodule "hw01"]
	path = hw01
	url = https://github.com/parallel101/hw01.git
[submodule "hw02"]
	path = hw02
	url = https://github.com/parallel101/hw02.git
[submodule "hw03"]
	path = hw03
	url = https://github.com/parallel101/hw03.git
[submodule "hw04"]
	path = hw04
	url = https://github.com/parallel101/hw04.git
[submodule "subtitles"]
	path = subtitles
	url = https://github.com/parallel101/subtitles.git
[submodule "hw05"]
	path = hw05
	url = https://github.com/parallel101/hw05.git
[submodule "hw06"]
	path = hw06
	url = https://github.com/parallel101/hw06.git
[submodule "hw07"]
	path = hw07
	url = https://github.com/parallel101/hw07.git
[submodule "hw08"]
	path = hw08
	url = https://github.com/parallel101/hw08.git
[submodule "hw10"]
	path = hw10
	url = https://github.com/parallel101/hw10.git
[submodule "hw11"]
	path = hw11
	url = https://github.com/parallel101/hw11.git
