[submodule "hw01"]
	path = hw01
	url = https://github.com/parallel101/hw01.git
[submodule "hw02"]
	path = hw02
	url = https://github.com/parallel101/hw02.git
[submodule "hw03"]
	path = hw03
	url = https://github.com/parallel101/hw03.git
[submodule "hw04"]
	path = hw04
	url = https://github.com/parallel101/hw04.git
[submodule "subtitles"]
	path = subtitles
	url = https://github.com/parallel101/subtitles.git
[submodule "hw05"]
	path = hw05
	url = https://github.com/parallel101/hw05.git
